body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    background-color: #ECCB95;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
}

h1 {
    color: black;
    font-weight: bold;
    align-self: center;
}

h2 {
    color: black;
}

#cmc-header {
    text-align: center;
}

.site-footer {
    text-align: center;
    color: #F89921;
    background-color: black;
    padding: 1em 0;
}

.site-footer a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-item {
    padding: 1rem 1.5rem;
}

.nav-link {
    color: #F89921;

}

/* @media screen and (min-width: 992px) {
    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: var(--top);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 75%;
        top: var(--top);
    }
}

@media screen and (max-width: 767px) {
    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 50%;
        top: var(--top);
    }
} */

.dbd-social {
    color: black;
}

.card-header {
    background-color: #284C85;
    color: white;
}

.carousel {
    border: 0; 
}

#carouselDbd .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 75vh;
    overflow: hidden;
}
  
.modal-header {
    background-color: #284C85;
}

.modal-title {
    color: white;
}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

.close {
    color:white;
}

.calendar-map-card {
    padding: 2em 0em;
}

#calendar-header #map-header {
    color: #F89921;
    background-color: black;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}