@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Slab", serif;
    /* background-color: #ECCB95; */
    background-image: linear-gradient(to right, #edd8b8, #eccb95, #eed5a8, #f0d378);
    overscroll-behavior: none;
}

h1, h2, h3 {
    font-family: "Roboto-Slab", serif;
}

h1 {
    color: black;
    font-weight: bold;
    align-self: center;
}

h2 {
    color: black;
}

div {
    scroll-margin-top: 11rem;
}

.navbar {
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-item {
    padding: 1rem 1.5rem;
}

.nav-link {
    color: #F89921;
    font-size: 1.4rem;

}

.modal-header {
    background-color: #284C85;
}

.modal-title {
    color: white;
}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

.close {
    color:white;
}

.carousel {
    border: 0; 
}

#carouselDbd .carousel-caption {
    top: 7rem;
    bottom: auto;
}

#carouselDbd .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}

@media (min-width: 768px) {
    #carouselDbd .carousel-caption h1 {
        font-family: "Roboto-Slab", serif;
        font-size: 8rem;
        color: #F89921;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    #carouselDbd .carousel-caption h2 {
        font-family: "Roboto-Slab", serif;
        font-size: 4rem;
        color: #F89921;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

@media (max-width: 767px) {
    #carouselDbd .carousel-caption h1 {
        font-family: "Roboto-Slab", serif;
        font-size: 5rem;
        color: #F89921;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    #carouselDbd .carousel-caption h2 {
        font-family: "Roboto-Slab", serif;
        font-size: 2rem;
        color: #F89921;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

#cmc-header {
    text-align: center;
}

.card-header {
    background-color: #284C85;
    color: white;
}

#calendar-map-row {
    margin-top: 2rem;
}
  
.calendar-map-card {
    padding: 2em 0em;
}

#calendar-header #map-header {
    color: #F89921;
    background-color: black;
}

#menu_items {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#our_story {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#our_story_text, #our_story_image {
    padding-top: 1rem;
}

.site-footer {
    text-align: center;
    color: #F89921;
    background-color: black;
    padding: 1em 0;
}

.site-footer a {
    color: inherit;
    text-decoration: none;
}

.dbd-social {
    color: black;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}